<div id="intro" class="clearfix">
    <div class="item">
        <div class="container">
            <div class="row">
                <div class="carousel-caption">
                    <!-- <div data-animate="fadeInDown" class="logo">
                        <img src="img/logo-big.png" alt="logo" width="130">
                    </div> -->
                    <h2 data-animate="fadeInDown">Hello, నమస్తే, नमस्ते !</h2>
                    <h1 data-animate="slideInUp">I am Chandra Nadiminti</h1>
                    <h3 data-animate="slideInUp">Software Designer &amp;&amp; Developer</h3>
                </div>
            </div>
        </div>
    </div>
</div>
